* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


body {
    margin: 0px;
    padding: 0px;
}

.footer {
    margin: 0;
    padding: 10px;
    background-color: #333333;
    color: #CFCFCF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.page-content {
    box-sizing: border-box;
    background-color: #CFCFCF;
    padding: 20px;
    min-height: calc(100vh - 40px - 20px);
}

.page-content img {
    width: 100%;
    max-width: 425px;
    height: 350px;
    margin: 0 auto;
    display: inline-block;
    border: 2px solid #999999;
    box-shadow: 0 2px 4px #00000033;
    filter: grayscale(50%);
}

p {
    color: #333333;
}

.page-content a {
    display: inline-block;
    color: #CFCFCF;
    background-color: #333333;
    padding: 15px;
    margin-bottom: 20px;
}